@import "../../../Assets/Styles/mixins";
@import "../../../Assets/Styles/partials";

@media only screen and (max-width:"767px"){
  .mynft__box__wrapper{
    .selected__mynft__box__description__wrapper{
      .checked{
        width: 15px !important;
        height: 15px !important;
        padding:3px ;
      }
    }
  }
}

.initial__nft__modal {
  button {
    &:focus {
      outline: none;
    }
  }
  .modal__header__wrapper {
    border-bottom: none !important;
    .modal__header {
      border: none;
      h2 {
        font-weight: 600;
        font-size: 21px;
        margin-bottom: 0px;
      }
    }
  }
  .modal__body__wrapper {
    margin: 25px 0px;
    h3 {
      font-weight: bold;
      font-size: 16.8px;
      margin-bottom: 0px;
      padding-bottom: 10px;
      text-align: center;
    }
    h6 {
      font-weight: normal;
      font-size: 19.2px;
      padding-bottom: 20px;
      color: #808080;
      text-align: center;
    }
    .mint__info__wrapper {
      .mint__image {
        display: flex;
        margin-bottom: 10px;
        justify-content: center;
        img {
          width: 50%;
          border-radius: 25px;
        }
      }
      h1 {
        text-align: center;
        font-weight: 500;
        font-size: 24px;
      }
      h6 {
        font-size: 16.8px;
      }
    }
  }
  .next__btn__wrapper {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
    .next__btn {
      @include defaultButton($primary__color);
    }
  }
  .multiple__btn__wrapper {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
    .next__btn {
      @include defaultButton($primary__color);
    }
    .back__btn {
      @include defaultButton($primary__color);
      span {
        padding-right: 10px;
        padding-left: 0px !important;
      }
    }
  }
  .last__modal__btn {
    display: flex;
    .next__btn {
      width: 100%;
      justify-content: center !important;
    }
  }
}

.mynft__box__wrapper {
  .mynft__box {
    box-shadow: 0px 4.8px 4.8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    background-color: #fff;
    cursor: pointer;
    margin: 0px 10px 10px 10px;
    .mynft__box__image__wrapper {
      position: relative;
      .mynft__box__image {
        img {
          width: 100%;
          border-top-right-radius: 12px;
          border-top-left-radius: 12px;
        }
      }
      .mynft__box__cat {
        position: absolute;
        left: 20px;
        top: 15px;
        background-color: #fff;
        border-radius: 10px;
        h6 {
          font-size: 16.8px;
          font-weight: 600;
          padding: 6px 10px;
          margin-bottom: 0px;
        }
      }
    }
    .mynft__box__description__wrapper {
      padding: 25px 20px;
      h2 {
        font-size: 19.2px;
        margin-bottom: 0px;
        padding-bottom: 10px;
      }
      p {
        font-size: 16.8px;
        color: #808080;
        margin-bottom: 0px;
      }
    }
    .selected__mynft__box__description__wrapper {
      padding: 25px 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .mynft__box__description {
        h2 {
          font-size: 19.2px;
          margin-bottom: 0px;
          padding-bottom: 10px;
        }
        p {
          font-size: 16.8px;
          color: #808080;
          margin-bottom: 0px;
        }
      }
      .checked {
        background: #2f80ed;
        border-radius: 50%;
        width: 28px;
        height: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
          color: white;
        }
      }
    }
  }
  .selected__nft{
      border:2px solid $primary__color;
      box-shadow: none;
    }
}
