@import "../../../Assets/Styles/_mixins.scss";
@import "../../../Assets/Styles/_partials.scss";
.half_container {
  max-width: 50%;
  background-color: white;
  min-height: 100vh;
  margin-left: auto;
  text-align: center;
}

.childContainer {
  min-height: 90vh;
  @include HorizontalAndVerticalCenter;
  flex-direction: column;
  p {
    font-size: 19.2px;
    text-align: center;
  }
  h2 {
    margin-top: -10px;
    color: $primary__color;
    font-size: 23.2px;
  }
  h4 {
    margin-top: 20px;
    margin-bottom: 30px;
    color: black;
    cursor: pointer;
    font-size: 17px;
  }
  .verficationContainer {
    margin-bottom: 25px;
    h4 {
      color: #808080;
      font-weight: normal;
      font-size: 16.8px;
      font-weight: normal;
    }
  }
  hr {
    margin-top: 20px;
    background-color: #e3e3e3;
    width: 40%;
  }
  .link {
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    cursor: pointer;
    font-size: 17px;
    color: $primary__color;
  }
}

.button {
  @include defaultButton($secondary__color);
  color: white;
  margin: 0px 5px;
}

.verification {
  font-size: 21px;
  display: inline-block;
  margin: 15px auto;
  margin-top: 25px;
  font-weight: 600;
}
