.half_container {
  max-width: 50%;
  background-color: white;
  min-height: 100vh;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background-color: #2f80ed;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
  color: #828282;
  margin: 0px 5px;
}

.button:focus {
  outline: none;
}

.button span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button span svg {
  height: 100%;
}

.button:focus {
  outline: none;
}

.secondary {
  background-color: white !important;
  color: #828282 !important;
}

.mainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 0px;
  min-width: 60%;
}

.mainContainer p {
  text-align: center;
  font-weight: lighter;
  color: #565656;
}

.mainContainer p span {
  color: #2f80ed;
  cursor: pointer;
}

.mainContainer hr {
  background-color: #e3e3e3;
  width: 90%;
}

.mainContainer .link {
  text-decoration: none;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 10px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.button {
  margin: 15px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background-color: #2f80ed;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 17px;
  cursor: pointer;
  border: none;
}

.button:focus {
  outline: none;
}

.button span {
  color: white;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button span svg {
  height: 100%;
}

.secondaryColor {
  background-color: #bdbdbd;
}

.active {
  color: #4f4f4f !important;
  background-color: #f2f2f2 !important;
}

@media screen and (max-width: 800px) {
  .half_container {
    max-width: 100%;
    backdrop-filter: blur(30px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    z-index: 1;
  }
}
/*# sourceMappingURL=index.module.css.map */