.background {
    background-color: #000000;
    width: 100%;
    min-height: 100vh;
    position: relative;
    .vector {
      position: absolute;
      bottom: 0;
      left: -7px;
      height:80vh
    }
    .logo {
      margin-top: 4%;
      margin-left: 2%;
    }
  }
  